<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<!-- Ditch all the Global NuGet package sources as we want hangfire to install from local forked copy -->
    <clear />	
	<!-- Local forked hangfire nuget packages -->
    <add key="hangfire-local" value=".\Hangfire.NugetPackages" />
	<!-- Standard Nuget Packages Repo -->
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    	<!-- Powershell Core 6.0 -->
    <add key="powershell-core" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />
  </packageSources>
</configuration>