.job-snippet {
    margin-bottom: 20px;
    padding: 15px;
    display: table;
    width: 100%;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.job-snippet > * {
    display: table-cell;
    vertical-align: top;
}

.job-snippet-code {
    vertical-align: top;
}

.job-snippet-code pre {
    border: none;
    margin: 0;
    background: inherit;
    padding: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
}

.job-snippet-code code {
    display: block; 
    color: black;
}

.job-snippet-code pre .comment {
    color: rgb(0, 128, 0);
}

.job-snippet-code pre .keyword {
    color: rgb(0, 0, 255);
}

.job-snippet-code pre .string {
    color: rgb(163, 21, 21);
}

.job-snippet-code pre .type {
    color: rgb(43, 145, 175);
}

.job-snippet-code pre .xmldoc {
    color: rgb(128, 128, 128);
}

.job-snippet-properties {
    max-width: 200px;
    padding-left: 5px;
}

.job-snippet-properties dl {
    margin: 0;
}

.job-snippet-properties dl dt {
    color: #999;
    text-shadow: 0 1px white;
    font-weight: normal;
}

.job-snippet-properties dl dd {
    margin-left: 0;
    margin-bottom: 5px;
}

.job-snippet-properties pre {
    background-color: white;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    padding: 2px 4px;
    border: none;
    margin: 0;
}

.job-snippet-properties code {
    color: black;
}
