
body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}




.panel {
    background: #f3f3f4;
    border-left: 6px solid #e7eaec;
    border-right: 6px solid #e7eaec;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 2px;
    padding: .4em;
}

