<div class="counts-container">
    <div class="count" *ngFor="let count of counts">
        <label>{{count.label}}</label>
        {{count.count}}
    </div>
</div>
<sf-terminal [id]="jobId"></sf-terminal>
<div class="enqueue-command-container">
    <div class="form-group">
        <label>Queue</label>
        <select [(ngModel)]="queue" class="form-control">
            <option value="default">Default</option>
            <option value="queue101">queue101</option>
        </select>
    </div>
    <div class="form-group">
        <label>Command</label>
        <textarea class="form-control" name="command" [(ngModel)]="command"></textarea>
    </div>
    <button class="btn btn-default" (click)="enqueueCommand($event)">Enqueue</button>
</div>

<!-- <div class="enqueue-command-container">
    <label>Fetch Result</label>
    <input type="text" name="jobId" [(ngModel)]="jobId" />
    <button class="btn btn-default" (click)="fetchResult($event)">Fetch</button> 
</div> -->