.navbar {
    background: url("/images/logo.png") no-repeat 15px 0 #323b44;
    padding-left: 60px;
    border: none;
    border-radius: 0;
    .navbar-brand {
        font-family: 'Spectral SC', serif;
        color: #fff;
        font-size: 1.8em;
        padding-top: 20px;
    }
}